body {
  height: 100vh;
  width: 100vw;
  color: #fff !important;
  overflow-y: auto;
  overflow-x: hidden;
}

.container > div > div {
  margin: 0.5rem 0;
}

.video-container {
  height: 50vh;
  width: 60vw;
}

.stream-container {
  max-height: 27rem !important;
  overflow-x: auto;
  overflow-y: scroll;
  padding: 1.5rem 1.5rem;
  border-radius: 5px;
}

form {
  background-color: gray;
  border-radius: 5px;
  height: 27rem;
}

.top-menu {
  display: flex;
  justify-content: space-between;
  width: 100vw;
  background-color: #fff;
  padding: 2rem;
  border-radius: 5px;
}
